{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5 mb-5">
    <h2>Reset your password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        <br><br>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <br><br>
        <button type="submit" class="tp-in-btn">Set New Password</button>
    </form>
</div>
{% endblock %}
