{% extends 'base.html' %}
{% load static %}
{% block body %} 




        <!-- location-area-start -->
        <div class="location-area pt-70 pb-25">
            <div class="container">
                <div class="row mb-25">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <h4>Contact us</h4>
                            <h6>Feel free to contact us for any assistance, we're committed to providing you the best support.

</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="assets/img/location/location-1.jpg" alt="">
                            </div>
                            <h6>Dewas,Madhya Pradesh</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Find us</span>
                                    <p>Dewas, MP  </p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Call us</span>
                                    <p><a href="">919752041183</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Mail us</span>
                                    <p><a href="mailto:store@company.com">kartsyy@company.com</a></p>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="" alt="">
                            </div>
                            <h6>Indore,Madhya Pradesh</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Find us</span>
                                    <p>Indore,MP</p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Call us</span>
                                    <p><a href="">919752041183</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Mail us</span>
                                    <p><a href="mailto:store@company.com">kartsyy@company.com</a></p>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="" alt="">
                            </div>
                            <h6>Ujjain madhya Pradesh</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Find us</span>
                                    <p>Ujjain,MP</p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Call us</span>
                                    <p><a href="">919752041183</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Mail us</span>
                                    <p><a href="mailto:store@company.com">kartsyy@company.com</a></p>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="" alt="">
                            </div>
                            <h6>Dewas,Madhya Pradesh</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Find us</span>
                                    <p>Dewas MP</p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Call us</span>
                                    <p><a href="">919752041183</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Mail us</span>
                                    <p><a href="mailto:store@company.com">kartsyy@company.com</a></p>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- location-area-end -->

        <!-- cmamps-area-start -->
        <div class="cmamps-area">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58779.403204908536!2d76.0013462510206!3d22.960805562200328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396317850c371de7%3A0x22947c209f24505!2sDewas%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1750271491105!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
        <!-- cmamps-area-end -->

      

{% endblock %}